div {
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
}
.task-card {
  background: black;
  padding: 15px;
  margin: 10px ;
  border-radius: 10px;
  text-align: left;
}

.high {
  color:red;
}


